{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Available Books</h1>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ book.image_url_s }}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.book_title }}</h5>
                        <p class="card-text">Author: {{ book.book_author }}</p>
                        <p class="card-text">Year of Publication: ${{ book.year_of_publication }}</p>
                        <p class="card-text">Publisher: ${{ book.publisher }}</p>
                        <form method="POST" action="{% url 'wishlist:add_to_wishlist' book.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add to Wishlist</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
