{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85) ), url(https://cdn.fstoppers.com/styles/full/s3/photos/2019/05/e1c586532fcb6672fac6d7a8cfa7a1b8.jpg?itok=t9H-u__W);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 70vh;
    }



    .footer {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-top: 20px; 
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        justify-content: center; 
    }

    .card{
        margin-bottom: 50px;
        margin-top: 20px;
    }


    .navbar-brand {
        font-family: 'LeagueSpartan Thin';
        letter-spacing: 3px;
        font-size: 2vw;

        text-decoration: none; 
    }


</style>
<nav class="navbar navbar-expand-lg bg-light bg-gradient">
    <div class="container-fluid mx-5">
        <span class="navbar-brand mb-0 h1">PageTurner</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active mb-0" href="{% url 'katalog_buku:show_katalog' %}">Catalogue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div id="wishlist-items" class="row justify-content-center">
</div>


<script>
    async function getWishlistItems() {
        return fetch("{% url 'wishlist:get_wishlist_items' %}").then((res) => res.json());
    }

    async function refreshWishlist() {
    const cardContainer = document.getElementById("wishlist-items");
    cardContainer.innerHTML = "";

    const books = await getWishlistItems();
    

    books.forEach((book) => {
        cardContainer.innerHTML += `
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 400px;">
                <img src="${book.fields.image_url_l}" class="card-img-top" alt="${book.fields.book_title}" style="max-height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">${book.fields.book_title}</h5>
                    <p class="card-text">Author: ${book.fields.book_author}</p>
                    <p class="card-text">Year of Publication: ${book.fields.year_of_publication}</p>
                    <p class="card-text">Publisher: ${book.fields.publisher}</p>
                    <button class="btn btn-danger" onclick="deleteItem(${book.pk})">Delete</button>
                </div>
            </div>
        </div>`;
    });
}


    function deleteItem(bookId) {
        fetch(`{% url 'wishlist:delete_book' 0 %}`.replace("0", bookId), {
            method: "POST"
        }).then(refreshWishlist);
    }

    $(document).ready(function () {
        refreshWishlist();
    });
</script>


<div class="footer">
    &copy; 2023 PageTurner. All rights reserved.
</div>
{% endblock content %}
