<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block meta %}
        {% endblock meta %}

        <style>
            @font-face {
                font-family: 'LeagueSpartan Medium';
                src: url("{% static 'font/LeagueSpartan-Medium.ttf' %}");
            }

            @font-face {
                font-family: 'LeagueSpartan Thin';
                src: url("{% static 'font/LeagueSpartan-Thin.ttf' %}");
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock content %}        
    </body>
</html>