{% extends 'base.html' %}

{% block meta %}
    <title>PageTurner</title>
{% endblock meta %}

{% block content %}
<div class="container mx-3">
    <h1>Page buku {{ book.book_title }}</h1>

    <form method="POST" action="{% url 'wishlist:add_to_wishlist' book.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to Wishlist</button>
    </form>

    {% if delete == True %}
        <a href="{% url 'katalog_buku:delete_book_katalog' book.id %}">
            <button>Delete Book</button>
        </a>
    {% endif %}

    <!-- Punya Salsa -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tambah ke Rak Buku
        </button>
        <ul class="dropdown-menu">
            {% for rak in user_rak %}
                <li>
                    <a href="{% url 'katalog_buku:add_book_to_rak' id=book.pk rak_id=rak.pk %}">
                    <button type="button" class="dropdown-item button_add">{{ rak.name }}</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Punya Salsa -->

</div>
{% endblock content %}