{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome {{ user }} </h1>

    {% if account.get_is_premium %}
        <h2>Premium Account</h2>

    {% elif not account.get_is_premium %}
        <h2>Regular Account</h2>

    {% endif %}

    <p>Fullname: {{ account.full_name }}</p>
    <p>Email: {{ account.email }}</p>

    <a class="nav-link active" aria-current="page" href="{% url 'daftar_belanja:owned_books' %}">
        <button type="button" class="btn btn-primary" id="button_add">
            Owned Books
        </button>
    </a>

    <br>
    
    <a class="nav-link active" aria-current="page" href="{% url 'daftar_belanja:shopping_cart' %}">
        <button type="button" class="btn btn-primary" id="button_add">
            Look at my shopping cart
        </button>
    </a>

    <table id="book_catalogue" class="book_catalogue"></table>

    <br>

    <script>
        async function isBookOwned(pk) {
            let response = await fetch("{% url 'daftar_belanja:check_book_ownership' %}?pk=" + pk);
            let data = await response.json();
            return data.is_owned;
        }
    
        async function getBooks() {
            return fetch("{% url 'book:get_books' %}").then((res) => res.json());
        }
    
        async function refreshTable() {
            const books = await getBooks();
            const bookCatalogue = document.getElementById("book_catalogue");

            bookCatalogue.innerHTML = "";

            let htmlString = `
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publisher</th>
                <th>Add Book</th>
            </tr>`;

            for (const item of books) {
                const isOwned = await isBookOwned(item.pk);

                const ownedString = `<a>
                        <button type="button" class="btn btn-primary" id="button_add">
                            Owned
                        </button>
                    </a>`

                htmlString += `
                \n<tr>
                    <td>${item.fields.book_title}</td>
                    <td>${item.fields.book_author}</td>
                    <td>${item.fields.isbn}</td>
                    <td>${item.fields.year_of_publication}</td>
                    <td>
                        ${isOwned ? ownedString : `
                        <a>
                            <button type="button" class="btn btn-primary" id="button_add" onclick="addToCart(${item.pk})">
                                Put in shopping cart
                            </button>
                        </a>`}
                    </td>
                </tr>`;
            }

            document.getElementById("book_catalogue").innerHTML = htmlString;
        }
    
        refreshTable();
    
        function addToCart(pk) {
            fetch("{% url 'daftar_belanja:add_to_cart' %}", {
                method: 'POST',
                body: JSON.stringify({
                    'pk': pk
                })
            })
        }
    </script>
{% endblock content %}