{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome {{ user }} </h1>

    {% if account.get_is_premium %}
        <h2>Premium Account</h2>

    {% elif not account.get_is_premium %}
        <h2>Regular Account</h2>

    {% endif %}

    <p>Fullname: {{ account.full_name }}</p>
    <p>Email: {{ account.email }}</p>

    <a class="nav-link active" aria-current="page" href="{% url 'daftar_belanja:add_book' %}">
        <button>
            Book Catalogue
        </button>
    </a>

    <br>

    <a class="nav-link active" aria-current="page" href="{% url 'main:logout_user' %}">
        <button class="logout">
            Logout
        </button>
    </a>
{% endblock content %}