{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Login</title>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #fff;
        /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)),
                            url(https://i.pinimg.com/originals/82/74/72/827472c996956ff73ca44addd4ced98f.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; */
        color: #2d2d2d;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    h1 {
        padding: 20px;
        text-align: center;
        font-weight: bold;
    }

    .login {
        width: 25%;
        min-width: 400px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: block;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        margin-left: 15px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        color: #333;
    }

    .login-form {
        margin: 5px 0 5px 5px;
    }

    .login_btn {
        width: 72%;
        background-color: #1a3891;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin: 5px 5px 5px 9px;
    }

    .login_btn:hover {
        background-color: #2959e6;
    }

    .no-account {
        text-align: center;
    }
</style>
    
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="login-form">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p class="no-account">Don't have an account yet? <a href="{% url 'main:create_account' %}">Register Now</a></p>

</div>

{% endblock content %}